
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width:100vw;
  height:100vh;
}



.footer{
  width: 80vw;
  height: 10vh;
  position: relative;
  bottom: 0;
  left: 0;
  background-color: red;
 
}
.footer a{
  text-decoration: none;
  color: black;
}
.footer div{
  justify-content: center;
}